<h2>Template <small>Dinamicos</small></h2>


<form (ngSubmit)="guardar()"  [formGroup]="miFormulario">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" >Nombre</label>
        <div class="col-sm-9">
            <input

                type="text"
                class="form-control"
                placeholder="Nombre de la persona"
                formControlName="nombre"
                >

        <span 
            class="form-text text-danger"
            *ngIf="siElCampoNoesValido('nombre')"
        >
          Este campo es obligatorio y debe de tener mas de 3 letras
        </span>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" >Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input
                    type="text"class="form-control"
                    placeholder="Agregar favorito" 
                    [formControl]="nuevoFavorito" 
                    (keyup.enter)="agregarFavorito()">   
                <button 
                    class="btn btn-outline-primary" 
                    (click)="agregarFavorito()"
                    type="button">
                    Agregar
                </button>
            </div>
            

        </div>
    </div>

    <!-- lista de juegos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" >Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div 
            class="input-group mb-1"
            *ngFor=" let favorito of favoritosArr.controls; let i = index"
            > 
                <input  class="form-control mb-1" [formControlName]="i">
                <button class="btn btn-outline-danger"
                 type="button" (click)="borrar(i)">
                  Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
      
        <div class="col-sm-12">
            <button 
                class="btn btn-primary float-end"
                type="button"
                (click)="guardar()">
                guardar
            </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>
<span>value</span>
<pre>{{miFormulario.value | json }}</pre>

<hr>
<span>Favorito</span>
<pre>{{nuevoFavorito.value | json }}</pre>